<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
  </head>
  <body>
    <div class="main">
      <div class="leftdiv">
        <div class="left-top"></div>
        <div class="left-bottom"></div>
      </div>
      <div class="rightdiv">
        <div class="r-top"></div>
        <div class="r-bottom">
          <div class="msg-section"></div>
          <div class="input-section">
            <input type="text" id="message" placeholder="Type a message...">
            <i class="ri-send-plane-line"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
